li{
  margin: 10px 0;
}

ul{
    list-style: none;
}

#time {
    margin-bottom:140px;
}

body {
    background-color:#fffcf7;
    font-family: 'Artifika', serif;
}

h1 {
    font-family: 'Pacifico', cursive;
}

canvas {
    background-color:#fff;
    border-width: 10px;
-webkit-box-shadow: 4px 3px 36px -4px rgba(0,0,0,0.35);
-moz-box-shadow: 4px 3px 36px -4px rgba(0,0,0,0.35);
box-shadow: 4px 3px 36px -4px rgba(0,0,0,0.35);
}

.title {
    margin-bottom:15px;
}